#timer {
  border: none;
  font-family: verdana;
  font-size: 10pt;
  font-weight: bold;
  position: absolute;
  float: right;
  top:10px;
  right: 20px;
  width: 60px;	
}
#d48_ficha {
	border-width: 1px;
	border-spacing: 2px;
	border-style: none;
	border-color: red;
	border-collapse: collapse;

}
#d48_ficha td {
	border-width: 2px;
	padding: 1px;
	border-style: dashed;
	border-color: black;
}
#d48_input {
	text-align:center;
	padding:0.4em;
	border:0px;
	font-weight:bold;
	font-size:1em;
	width:35px;
}
table.mips {
	margin-left:auto; margin-right:auto;
	width: 900px;
	font-family: verdana;
	font-size: 8pt;
}
label.error {
	color:#FF0000;
}
form.questions label.error { display: none; }
/*[INI] RORSCHACH */
.tagOn{
	border:2px solid black;
}
#taggingArea{
	position:relative;
	width:auto;
	float:left;
	font-size:10px;
}
#formArea{
	width:auto;
	float:left;
	font-family: verdana;
	font-size: 8pt;
}
#drag{
	position:absolute;
	top:10px;
	left:50px;
	width:100px;
	height:100px;
	border:2px solid black;
	background:url('blank.gif');
	min-width:100px;
}
#drag_title {
	color:black;
}
.label{
	//background-color:F7B64A;
	background-color:black;
	color:white;
	font-weight:bold;
	text-align:center;
	font-family:Tahoma;
	font-size:12px;
}
/*[FIN] RORSCHACH */