/*GENERAL*/

.popup .label{
	width: 200px;
}
.popup .in{
	width: 500px;
}

.block{
	width:500px;
}

h1 {
	width:524px;
}

.header-block{
	width:494px;
	margin-bottom: 20px;
}

.body_container {
	padding-left: 50px;
    padding-top: 20px;
	
}

.content .CR{width:400px;float:left;}

.info .photo{float:left; width:190px;}
.info .photo img{padding:5px;background:#FFF;border: .1em solid black; width:150px;}
.info .right{float:left;width:300px;padding:0 0 0 10px;}
.info .right h3{font:16px;padding:0 0 12px;}
.info .right p{padding:0 0 10px;}
.info .right .grey{color:#666;}
.info .right .grey i{padding:0 4px;font-size:12px;line-height:12px;color:#999;font-style:normal;}
.info .right h3 a{font-size:11px;padding:0 0 0 4px;}




.curriculumFooter{
	float: left; 
	margin:auto; 
	width:100%;
}

#hardSkillsPopUp .in {
	width: 540px;
}

#hardSkillsPopUp input[type=text]{
	width: 10px;
 	margin-right: 20px;
}

#hardSkillsPopUp ul{
	float: left;
	margin-top: 3px;
}

#hardSkillsPopUp h4{
	font-weight: bold;
}

#hardSkillsPopUp select{
	margin:6px;
	width: 202px;
}

#hardSkillsPopUp .label {
	width: 300px;
}


#userDataPopUp .buttonsPopUp{
	margin-top:70px;
}

#formalEducationPopUp .buttonsPopUp{
	margin-top:31px;
}

#informalEducationPopUp .buttonsPopUp{
	margin-top:135px;
}

#hardSkills ul{
	margin: 3px 0 5px 6px;
}

.toolItem,
.industryItem {
	height: 25px;
	background-color: #FFF;
}

.toolsTitle {
	border-top: 1px #CCCCCC solid;
    margin-top: 30px;
    padding-top: 10px;
	display: inline-block;
	width: 100%;
}


.industryItem .label{
	padding-top: 3px
}

.removeSkillLink {
	float: left;
}

.removeSkillLink img{
	margin: 4px 15px;
}

#hardSkills .star-rating{
	float: left;
}

#hardSkills .label {
 margin-top: 4px;
}

.starRatingContainer {
	display: inline;
}
