
#ticketData{
	width: 460px;
	border-width: 1px;
	float: left;
}


#ticketLinks{
	width: 434px;
	height: 200px;
	float: left;
	margin-top: 10px;
}


#addTicketLinks{
	height: 99px;
	border-width: 1px;
}


.label {
	font-weight: bold;
	float:left;
}

.field {
	float:left;
	width: 100%;
}

.row {
  margin: 10px;
}


.editFields{
	font-size: 11px;
}

#ticketDataBody{
	margin:10px
}

#ticketBody{
	padding-top: 30px;
	padding-bottom: 50px;	
}


#ticketDataBody div{
	margin-top:4px
}

#homeBody{
	margin-top: 50px;
}

#ticketDataPopUp .buttonsPopUp{
	margin-top:67px;
}

.popup .label{
	font-weight: normal;
}



.searchLink,
.ticketsLink
 {
	background-position:center top !important;
	display: block;
	padding-top: 47px;
	text-align: center;	
}

.searchLink{
	background:transparent url("../images/src/search.png") no-repeat;
	width: 60px;
	height: 40px;
}

.ticketsLink {
	background:transparent url("../images/src/addticket.png") no-repeat;
	width: 60px;
	height: 40px;
}
