
body {
 background-color: #fff;
 margin: auto;
 color: #4F5155;
 width: 960px;
 font-family: Tahoma;
}


.company_logo{
}

#login {
 	/*background: url("../images/home_background.png") no-repeat scroll 0 0 transparent;;*/
	width: 960px;
	height: 720px;
}



.body_container {
	height: 550px;
}

#login_wellcome {
	float: left;
	position: absolute;
	padding-right: 7px;
	border-right: 1px #CCCCCC solid;
	height: 570px;
	width: 452px;
	
}

#login_wellcome_text {
	/*color: #FFFFFF;
    background: url("/images/src/find_fondo.jpg") no-repeat scroll 0 0;*/
	padding: 0 8px 0 20px;
 	font-size: 13px;
	margin-bottom: 10px;
	height: 200px;
	border-radius: 10px 10px 10px 10px;
	width: 415px;
	
    font: bold 12px Helvetica, Arial, sans-serif;
    text-shadow: 0 1px 0 #fff;
    background-color: #F4F4F4;
    background: -webkit-gradient(linear,0% 55%,0% 90%,from(#F9F9F9),to(#F0F0F0));
    border: solid 1px #dcdcdc;
}

#video_container {
	/*border-top: 1px #CCCCCC solid;*/
	padding-top: 9px;
	width: 443px;
	background-color:black;
	height:200px;
	border-radius: 10px 10px 10px 10px;
}

#login_tabs {
	width: 450px;
	float: right;
	height: 412px;
}

.label {
	text-align: left;
	width: 130px;
	font-size:12px;
}

.control input {
	width: 161px;
}

.control select{
	width: 171px;
}
.field {
	margin-top: 15px;
}

.field div {
	float: left;
	margin-top: 6px;
}

#login_tabs .tab_content {
	height:400px;
	overflow: auto;
}

#login_button_div {
	float: right;
	margin-right: 20px;
	margin-top: 30px;
}

#register_id_type_select {
	width: 63px;
}

#register_id_number_input {
	width: 95px;
}

.error_msg {
}

.error_msg .label{
	color: red;
	margin-left: 138px;
	font-size: 9px;
    width: 100%;
	margin-top: 2px;    
}


.fb-like {
	/*border-bottom: 1px #CCCCCC solid;*/
	width: 443px;
	padding-bottom: 10px;
}