#leftPanel,
#rightPanel{
	float:left;
	height: 490px;
}

#leftPanel {
    width: 130px;
  	border-color: #707070;
    border-style: none solid none none;
    border-width: 1px;
    overflow: auto;
}

#rightPanel{
	width:829px
	
}


#newSearchLink {
	padding: 10px 0 10px 0;
}

#busquedas {
 	/*background: url("../images/home_background.png") no-repeat scroll 0 0 transparent;;*/
	width: 960px;
	height: 820px;
	margin: auto;
	
}



#busquedas_tabs {
	width: 950px;
	float: right;
	margin-right: 20px;

}


.control {
	width: 250px;
}

.control input {
	width: 150px;
}

.control select{
	width: 156px;
}
.field {
	margin-top: 15px;
}

#busquedas_tabs .tab_content {
	height:620px;
	overflow: auto;
}

.label {
	font-size:12px; /*dont know why need to do this*/
}
/*
.ui-accordion-content {
 	height: 210px;
}

.sectionTitlePencil {
    visibility: hidden;
    margin-right: 7px;
}
*/

.tab_content {
	height: 388px;
	overflow: auto; 
}