
#homeCandidatePersonalData{
	width: 460px;
	height: 199px;
	border-width: 1px;
	float:left;
}


#homeCandidateLinks{
	width: 434px;
	height: 153px;
	float: left;
	margin-top: 10px;
}

#homeCompanyLinks{
    float: left;
    height: 181px;
    width: 430px;
	margin-top: 10px;
	height: 193px;
}

#homeCurriculumLink{
	height: 99px;
	border-width: 1px;
	width: 152px;
	float: left;
}

#homeTestLink{
	height: 99px;
	border-width: 1px;
	float: left;
}

.label {
	font-weight: bold;
	float:left;
}

.field {
	float:left;
	width: 100%;
}

.row {
  margin: 10px;
}


.editFields{
	font-size: 11px;
}

#homeCandidatePersonalDataBody{
	margin:10px
}

#homeCandidatePersonalDataBody div{
	margin-top:4px
}

.frFooter{
	margin-top: 200px;
}

#homeBody{
	padding-top: 30px;
	padding-bottom: 50px;	
}

#userDataPopUp .buttonsPopUp{
	margin-top:67px;
}

.popup .label{
	font-weight: normal;
}

.informes .inblock {
	height: 127px;
}

.informes .inblock img,
.informes .inblock div {
	float: left;
}

.informes .inblock div {
	margin-top: 22px;
}

.admin .block {
	margin-left: 50px;
	width: 500px;
}
.admin .usuarios {
	padding-left: 20px;
}

.experto img{
    width: 75px;
	padding-right: 20px;
}

.body_container {
	padding-left: 20px;
	padding-right: 20px;
}
