
#homeCandidatePersonalData{
	width: 460px;
	height: 199px;
	border-color: #707070;
	border-style:solid none solid solid;
	border-width: 1px;
	float:left;
}


#homeCandidateLinks{
	width: 460px;
	height: 200px;
	float:left;
}


#homeCurriculumLink{
	height: 99px;
	border-color: #707070;
	border-style:solid;
	border-width: 1px;
}

#homeTestLink{
	height: 99px;
	border-color: #707070;
	border-style: none solid solid solid;
	border-width: 1px;
}

.label {
	font-weight: bold;
	float:left;
}

.field {
	float:left;
	width: 100%;
}

.row {
  margin: 10px;
}


.editFields{
	font-size: 11px;
}

#homeCandidatePersonalDataBody{
	margin:10px
}

#homeCandidatePersonalDataBody div{
	margin-top:4px
}

.frFooter{
	margin-top: 250px;
}

#homeBody{
	margin-top: 50px;
}

#userDataPopUp .buttonsPopUp{
	margin-top:67px;
}

.popup .label{
	font-weight: normal;
}