<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"/>
	<TITLE></TITLE>
	<STYLE TYPE="text/css">
	<!--
		body {font-size: 14px;}
		@page { margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.49in; margin-bottom: 0.49in }
		P { margin-bottom: 0in; direction: ltr; color: #000000; line-height: 100%; widows: 2; orphans: 2 ;padding-bottom:15px;}
		P.western { font-family: "Souvienne", serif; so-language: es-ES }
		P.cjk { font-family:'Droid Sans', 'Lucida Grande', Verdana, sans-serif; }
		P.ctl { font-family:'Droid Sans', 'Lucida Grande', Verdana, sans-serif; font-size: 10pt }
		H1 { margin-top: 0.33in; margin-bottom: 0in; direction: ltr; color: #365f91; page-break-inside: avoid; widows: 2; orphans: 2 }
		H1.western { font-size: 14pt }
		H1.cjk {  font-size: 14pt }
		H1.ctl {  ; font-size: 14pt }
		H2 { margin-top: 0.14in; margin-bottom: 0in; direction: ltr; color: #4f81bd; page-break-inside: avoid; widows: 2; orphans: 2 }
		H2.western { font-size: 13pt }
		H2.cjk {  font-size: 13pt }
		H2.ctl {  font-size: 13pt }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" DIR="LTR">
<DIV TYPE=HEADER>
	<P ALIGN=RIGHT STYLE="margin-bottom: 0.45in"><BR>
	</P>
</DIV>

<H1 CLASS="western"><A NAME="_Toc308647797"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Home
Principal</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_709d46d9.png" ALIGN=BOTTOM WIDTH=422 HEIGHT=291 BORDER=0></P>
<H1 CLASS="western"><A NAME="_Toc308647799"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ingreso
</SPAN></SPAN>
</H1>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
poder ingresar al portal  usted deber&aacute; de ingresar un email y
contrase&ntilde;a valido ( para ello usted previamente tuvo que
haberse registrado (ver registraci&oacute;n) y haber autenticado su
cuenta) y apretar el bot&oacute;n ingresar como se muestra en la
figura 4 </SPAN></FONT>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_17bfc7c0.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=211 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
4</SPAN></FONT></FONT></P>
<H1 CLASS="western"><A NAME="_Toc308647825"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Entorno
Usuario Experto</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una
vez que usted haya ingresado al portal con un usuario experto (
Recuerde que este tipo de usuario debe ser solicitado al
administrador del sitio y este ultimo se pondr&aacute; en contacto
con usted para suministrarle el usuario y contrase&ntilde;a
correspondiente ) ,visualizara el siguiente men&uacute; (Ver figura
60)</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m5222c9c0.png" ALIGN=BOTTOM WIDTH=392 HEIGHT=215 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
60</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Las
opciones disponibles para este tipo de usuario son :</SPAN></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Visualizaci&oacute;n
	de informes finales de candidatos ( Ver armado de informes )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Actualizaci&oacute;n
	de armado de coloquios ( Ver armado de coloquios )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Visualizaci&oacute;n
	de resultados de psicot&eacute;cnicos (  ver resultados de
	psicot&eacute;cnicos )</SPAN></FONT></P>
</UL>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">La
responsabilidad de este tipo de usuario es la de garantizar el
correcto funcionamiento de los test evaluados dentro del sitio ,
brindando su experiencia en el desarrollo de test psicot&eacute;cnicos
y suministrando el conocimiento de negocio con el fin de mejorar la
calidad que ofrece Findresources.</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<H1 CLASS="western"><A NAME="_Toc308647826"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Armado
de informes</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Si
usted como usuario experto desea averiguar como es que el sistema
arma los informes que luego ser&aacute;n visualizados por las
empresas que realizan las b&uacute;squedas , deber&aacute; de
ingresar a la opci&oacute;n que se muestra en la figura 61</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_4be2446c.png" ALIGN=BOTTOM WIDTH=281 HEIGHT=169 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
61</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una
vez que ingrese a este opci&oacute;n el sistema le ofrecer&aacute;
tres criterios diferentes de b&uacute;squeda para encontrar los
informes que desea evaluar . Estos criterios pueden ser el de buscar
por nombre de b&uacute;squeda , buscar por el nombre de la empresa o
buscar por el correo electr&oacute;nico de la empresa .</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cualquiera
sea el criterio de b&uacute;squeda el sistema devolver&aacute; los
resultados ( tenga en cuenta que depende del criterio que haya
seleccionado , el sitio le puede preguntar por la selecci&oacute;n de
una b&uacute;squeda en particular o no ) . Cuando seleccione la
b&uacute;squeda el sitio desplegara una ventana emergente en la cual
usted podr&aacute; seleccionar alg&uacute;n candidato para visualizar
su informe  ( Ver figura 62 )</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m785bd7.png" ALIGN=BOTTOM WIDTH=450 HEIGHT=310 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
62</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Haciendo
click en el bot&oacute;n        usted podr&aacute; visualizar el
informe ( Ver figura 63 )</SPAN></FONT><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m6e1367d.png" ALIGN=LEFT HSPACE=12 WIDTH=19 HEIGHT=22 BORDER=0></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_4571bfd9.png" ALIGN=BOTTOM WIDTH=370 HEIGHT=140 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
63</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
la columna aspectos de personalidad , usted podr&aacute; visualizar
los aspectos evaluados en el candidato con el objetivo de obtener los
motivos por el cual el sitio armo el informe que acaba de visualizar
.</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<H1 CLASS="western"><A NAME="_Toc308647827"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Actualizar
armado de coloquios</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Si
usted como usuario experto considera que la descripci&oacute;n de las
habilidades evaluadas por el candidato no coindicen con lo que se
especifique en el informe , podr&aacute; realizar adecuaciones en el
sitio con el fin de arreglar este incidente . Para ello usted deber&aacute;
de presionar el bot&oacute;n Actualizar informe de coloquios como se
muestra en la figura 64</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m152954f1.png" ALIGN=BOTTOM WIDTH=317 HEIGHT=177 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
64</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
ingrese a este opci&oacute;n el sitio lo dirigir&aacute; a la
pantalla que aparece en la figura 65 en la cual aparecen todos los
aspectos de personalidad y su correspondiente coloquio</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m4e6f81a6.png" ALIGN=BOTTOM WIDTH=478 HEIGHT=287 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
65</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
identifique que aspecto tiene incorrectamente armado su coloquio ,
deber&aacute; de presionar el bot&oacute;n       que se encuentra al
lado del aspecto encontrado . Luego el sitio desplegara una ventana
emergente ( como aparece en la figura 66 ) y ah&iacute; usted podr&aacute;
cambiar el coloquio de ese aspecto presionando el bot&oacute;n
guardar .</SPAN></FONT><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m71a65a3.png" ALIGN=LEFT HSPACE=12 WIDTH=17 HEIGHT=17 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_1f136523.png" ALIGN=BOTTOM WIDTH=292 HEIGHT=293 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
66</SPAN></FONT></FONT></P>
<H1 CLASS="western"><A NAME="_Toc308647828"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Actualizar
armado de coloquios</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Si
usted como usuario experto desea averiguar como determina los
aspectos de personalidad evaluados en los candidatos , podr&aacute;
realizarlo ingresando a la opci&oacute;n ver resultados de
psicot&eacute;cnicos que aparece en la figura 67 . El objetivo de
esto es el de comprobar si el sitio evaluar correctamente las
entradas de cada uno de los test disponibles y si las convierte
correctamente en un aspecto de personalidad . Tambi&eacute;n evaluara
si la forma de administraci&oacute;n es correcta y tambi&eacute;n
posee la opci&oacute;n de modificar en caso de considerar la
transformaci&oacute;n de las entradas en salidas seg&uacute;n esta
parametrizacion .</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_3ffc91eb.png" ALIGN=BOTTOM WIDTH=251 HEIGHT=145 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
67</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una
vez ingresado a esta opci&oacute;n el sitio le preguntara que test
desea evaluar ( Recuerde que dispone de los test D48 , Raven ,
Luscher , Mips y Rorcharch ) .</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Tenga
en cuenta que las entradas de cada uno de los test , la forma de
administraci&oacute;n y sus correspondientes salidas varian seg&uacute;n
el test evaluado .</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
visualizar las entradas y salidas del test D48 seleccione D48 y
presione consultar . El sitio lo direccionara a la pantalla que
aparece en al figura 68</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
visualizar las entradas y salidas del test Luscher seleccione Luscher
y presione consultar . El sitio lo direccionara a la pantalla que
aparece en al figura 69</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
visualizar las entradas y salidas del test MIPS seleccione MIPS y
presione consultar . El sitio lo direccionara a la pantalla que
aparece en al figura 70</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
visualizar las entradas y salidas del test Raven seleccione Raven y
presione consultar . El sitio lo direccionara a la pantalla que
aparece en al figura 71</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_5a11b50b.png" ALIGN=BOTTOM WIDTH=483 HEIGHT=230 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
68</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_1cb0b0ee.png" ALIGN=BOTTOM WIDTH=486 HEIGHT=261 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
69</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_6ed4916c.png" ALIGN=BOTTOM WIDTH=470 HEIGHT=242 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
70</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_86587fb.png" ALIGN=BOTTOM WIDTH=529 HEIGHT=249 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
71</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Todos
estos informes usted los podr&aacute; descargar a pc presionando el
bot&oacute;n         que aparece en el margen superior derecho .</SPAN></FONT><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m7b66244a.png" ALIGN=LEFT HSPACE=12 WIDTH=21 HEIGHT=21 BORDER=0></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
editar la forma de administraci&oacute;n usted deber&aacute; de
seleccionar por cada candidato que considere el bot&oacute;n        .
Cuando lo presione el sitio le desplegara una ventana emergente en la
cual solicita una propuesta de mejora en la evaluaci&oacute;n y un
campo notas en la cual usted podr&aacute; explicar los motivos por el
cual considera que la administraci&oacute;n del mismo fue incorrecta
.  ( ver figura 72 )<BR>Este informaci&oacute;n ser&aacute; tenida en
cuenta por la administraci&oacute;n para adecuar la resoluci&oacute;n
de los test a la informaci&oacute;n propuesta.</SPAN></FONT><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_2573aced.png" ALIGN=LEFT HSPACE=12 WIDTH=20 HEIGHT=14 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m7291461a.png" ALIGN=BOTTOM WIDTH=313 HEIGHT=240 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
72</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR"><I><B>El staff de FindResources.com.ar</B></I></SPAN></FONT></P>
<DIV TYPE=FOOTER>
	<P ALIGN=LEFT STYLE="margin-top: 0.45in"><BR>
	</P>
</DIV>
</BODY>
</HTML>