RewriteEngine on 
RewriteCond $1 !^(index.php|css|js|images|robots.txt|docs|dompdf) 
#For dev environment
RewriteRule ^(.*)$ /index.php/$1 [L]

#For published one
#RewriteRule ^(.*)$ index.php/$1 [L]