<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"/>
	<TITLE></TITLE>
	<STYLE TYPE="text/css">
	<!--
		@page { margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.49in; margin-bottom: 0.49in }
		P { margin-bottom: 0in; direction: ltr; color: #000000; line-height: 100%; widows: 2; orphans: 2 ;padding-bottom:15px;}
		P.western { font-family: "Souvienne", serif; so-language: es-ES }
		P.cjk { font-family:'Droid Sans', 'Lucida Grande', Verdana, sans-serif; }
		P.ctl { font-family:'Droid Sans', 'Lucida Grande', Verdana, sans-serif; font-size: 10pt }
		H1 { margin-top: 0.33in; margin-bottom: 0in; direction: ltr; color: #365f91; page-break-inside: avoid; widows: 2; orphans: 2 }
		H1.western { font-size: 14pt }
		H1.cjk {  font-size: 14pt }
		H1.ctl {  ; font-size: 14pt }
		H2 { margin-top: 0.14in; margin-bottom: 0in; direction: ltr; color: #4f81bd; page-break-inside: avoid; widows: 2; orphans: 2 }
		H2.western { font-size: 13pt }
		H2.cjk {  font-size: 13pt }
		H2.ctl {  font-size: 13pt }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" DIR="LTR">
<DIV TYPE=HEADER>
	<P ALIGN=RIGHT STYLE="margin-bottom: 0.45in"><BR>
	</P>
</DIV>

<H1 CLASS="western"><A NAME="_Toc308647797"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Home
Principal</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_709d46d9.png" ALIGN=BOTTOM WIDTH=422 HEIGHT=291 BORDER=0></P>
<H1 CLASS="western"><A NAME="_Toc308647799"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ingreso
</SPAN></SPAN>
</H1><br />
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
poder ingresar al portal  usted deber&aacute; de ingresar un email y
contrase&ntilde;a valido ( para ello usted previamente tuvo que
haberse registrado (ver registraci&oacute;n) y haber autenticado su
cuenta) y apretar el bot&oacute;n ingresar como se muestra en la
figura 4 </SPAN></FONT>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_17bfc7c0.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=211 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
4</SPAN></FONT></FONT></P>
<H1 CLASS="western"><A NAME="_Toc308647808"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Entorno
Usuario Empresas</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una
vez que usted haya ingresado al portal con un usuario empresas ,
usted visualizara el siguiente men&uacute; (Ver figura 27)</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_3ec2d8a.png" ALIGN=BOTTOM WIDTH=475 HEIGHT=274 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
27</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">A
la izquierda usted visualizara los datos personales de la empresa con
la cual se logueo . A su vez usted tendr&aacute; la opci&oacute;n de
agregar y/o modificar los mismos ( Ver edici&oacute;n de datos
personales ) . A la derecha de la pantalla tendr&aacute; el acceso al
submen&uacute; de b&uacute;squedas ( Ver B&uacute;squedas ) y el
acceso el submen&uacute; de ticket ( Ver Solicitud de tickets )</SPAN></FONT></P>
<H1 CLASS="western"><A NAME="_Toc308647809"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Edici&oacute;n
de datos personales de Empresas</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
poder realizar esta operaci&oacute;n deber&aacute; hacer click en el
bot&oacute;n editar que se encuentra en el margen superior derecho
del apartado de datos personales de empresas . Cuando realice esta
operaci&oacute;n el sistema le solicitara la informaci&oacute;n que
se muestra en la figura 28</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_3c7a8d70.png" ALIGN=BOTTOM WIDTH=277 HEIGHT=449 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
28</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
se haya completado todos los campos ( o los que considere necesarios
) presione el bot&oacute;n guardar , caso contrario presione el bot&oacute;n
cancelar</SPAN></FONT></P>
<P LANG="es-AR" ALIGN=LEFT STYLE="margin-left: 0.5in; line-height: 100%">
<BR>
</P>
<H1 CLASS="western"><A NAME="_Toc308647810"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Busquedas</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
se acceda a esta parte del sitio usted visualizara lo que aparece en
la figura 29 </SPAN></FONT>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_70efaad2.png" ALIGN=BOTTOM WIDTH=534 HEIGHT=215 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
29</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
el margen izquierdo se observaran las b&uacute;squedas que se
encuentran activas del usuario empresa ( Las que est&aacute;n en
color azul claro ) , las b&uacute;squedas nuevas ( Las que se
encuentran en color azul oscuro ) , las b&uacute;squedas que est&aacute;n
finalizadas ( las que se encuentran en color gris ) y las b&uacute;squedas
que fueron canceladas manualmente ( Son las que se encuentran en
color gris y tachadas ) . Usted podr&aacute; visualizar cualquiera de
ellas haciendo click en la misma  ( Ver figura 30 ). Si desea hacer
una b&uacute;squeda nueva deber&aacute; de presionar la opci&oacute;n
Nueva B&uacute;squeda que se encuentra arriba de las b&uacute;squedas
previamente realizadas por el usuario ( Nota : Si el usuario nunca
realizo ninguna b&uacute;squeda solamente vera la opci&oacute;n de
Nueva B&uacute;squeda ) . Si desea saber como hacer una nueva
b&uacute;squeda revise el apartado Nueva B&uacute;squeda del presente
manual de usuario .</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_mfb2c2e7.png" ALIGN=BOTTOM WIDTH=479 HEIGHT=325 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
30</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
la pantalla que aparece en la figura 30 , observamos que tenemos en
el margen superior derecho 3 botones ( Actualizar datos , editar
datos y volver al inicio ) . El bot&oacute;n actualizar datos nos da
la posibilidad de que actualicemos los candidatos resultantes de la
b&uacute;squeda para obtener nuevos candidatos que cumplan con el
criterio de b&uacute;squeda o bien para averiguar si los mismos
realizaron el test psicot&eacute;cnico ( ver interpretaci&oacute;n
solapa resultados ) . El bot&oacute;n de editar datos nos brinda la
posibilidad de incorporar / modificar / eliminar alg&uacute;n
criterio de la b&uacute;squeda ( Recuerde que cualquier actualizaci&oacute;n
sobre la misma se deber&aacute; de abonar como una b&uacute;squeda
nueva ) y el ultimo bot&oacute;n nos da la posibilidad de dirigirnos
al men&uacute; principal del usuario .</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Luego
podremos observar cuales fueron los criterios utilizados en la
b&uacute;squeda . La forma de administraci&oacute;n esta mencionada
en el apartado nueva b&uacute;squeda del presente manual . </SPAN></FONT>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="line-height: 100%">
<BR>
</P>
<H2 CLASS="western"><A NAME="_Toc308647811"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Nueva
B&uacute;squeda </SPAN></SPAN>
</H2>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
poder dar de alta una nueva b&uacute;squeda deber&aacute; de
presionar el bot&oacute;n nueva b&uacute;squeda que se encuentra en
el men&uacute; de b&uacute;squedas del usuario empresas . ( Ver
figura 31 )</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_26425bf6.png" ALIGN=BOTTOM WIDTH=162 HEIGHT=250 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
31</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
acceda a este bot&oacute;n el sitio lo solicitara la siguiente
informaci&oacute;n ( Ver Figura 32 )</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m7ca3d431.png" ALIGN=BOTTOM WIDTH=253 HEIGHT=262 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
32</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">La
forma de completar el formulario es la siguiente:</SPAN></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Titulo
	: El titulo sirve para identificar la b&uacute;squeda en el men&uacute;
	de b&uacute;squedas </SPAN></FONT>
	</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Descripci&oacute;n:
	Ac&aacute; se deber&iacute;a de ingresar una breve descripci&oacute;n
	del puesto a ocupar .</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cantidad
	de personal : La cantidad de personas que se requiere para ocupar
	ese puesto</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Tickets
	Disponibles: Para que la b&uacute;squeda sea efectiva el usuario
	empresa deber&aacute; de contar con saldo para llevar la misma acabo
	. Si desea saber como solicitar tickets ver el apartado Solicitud de
	tickets del presente manual. Recordar que usted puede contar con
	varios tipos de tickets , por lo que sugerimos tenga presente
	determinar el tiempo que quiere tener activa la b&uacute;squeda </SPAN></FONT>
	</P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
complete toda la informaci&oacute;n , presione el bot&oacute;n
guardar y la misma ya se encontrara activa y disponible para ser
consultada , caso contrario presione cancelar ( si no posee saldo
suficiente la b&uacute;squeda no quedara guardada )</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una
vez presionado el bot&oacute;n guardar , deber&aacute; de seleccionar
la nueva b&uacute;squeda que acaba de crear ( se encontrara en estado
nueva con un color azul oscuro (Ver figura 33 ) . El sitio le
mostrara la informaci&oacute;n que aparece en la figura 34 .	</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in; line-height: 100%">
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_5c85c525.png" ALIGN=BOTTOM WIDTH=416 HEIGHT=199 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
33</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m950e9b7.png" ALIGN=BOTTOM WIDTH=421 HEIGHT=281 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
34</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
incorporar un criterio asociado a un conocimiento especifico debera
de presionar el bot&oacute;n editar que se encuentra en el margen
superior derecho del apartado conocimiento que se visualiza en al
figura 34 . Una vez seleccionado el sitio lo direccionara a la
pantalla que se muestra en la figura 35.</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_4010f044.png" ALIGN=BOTTOM WIDTH=504 HEIGHT=254 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
35</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
el desplegable que aparece en &Aacute;rea de negocio , usted podr&aacute;
seleccionar una area de negocio que desee aplicar como criterio de
selecci&oacute;n . Para incorporar dicho criterio usted deber&aacute;
de desplegar el combo que se encuentra debajo ( Como se muestra en la
figura 36 ) y presionar el bot&oacute;n agregar (Podr&aacute;
incorporar varias &aacute;reas de negocio simplemente realizando esto
por cada &aacute;rea que desee incorporar )</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m7a19b92d.png" ALIGN=BOTTOM WIDTH=417 HEIGHT=214 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
36</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando haya
seleccionado todas las &aacute;reas de negocio que desee deber&aacute;
de determinar el nivel de conocimiento de esa &aacute;rea ,  usando
las diferentes estrellas , las cuales se interpretan de la siguiente
manera :</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m17a86481.png" ALIGN=LEFT HSPACE=12 WIDTH=145 HEIGHT=82 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m6f21a2f9.png" ALIGN=LEFT HSPACE=12 WIDTH=117 HEIGHT=86 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_5710490d.png" ALIGN=LEFT HSPACE=12 WIDTH=120 HEIGHT=88 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_b91d338.png" ALIGN=LEFT HSPACE=12 WIDTH=119 HEIGHT=83 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m380912be.png" ALIGN=LEFT HSPACE=12 WIDTH=117 HEIGHT=85 BORDER=0><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una vez
seleccionado el nivel que se desea para esa &aacute;rea de negocio ,
usted podr&aacute;  diferenciar si ese conocimiento es requerido (
los candidatos deben tener conocimientos del &aacute;rea de negocio
con el nivel marcado para aparecer como resultado de la b&uacute;squeda
) o deseado ( los candidatos deben tener conocimientos del &aacute;rea
de negocio pero de puede variar en el nivel del mismo ).</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para poder
seleccionar el criterio como requerido o como deseado , solamente
bastara como desplazar la barra vertical ( si la barra se encuentra
en su totalidad a la derecha , se considera que el criterio es
requerido , caso contrario deseado ) ( Ver figura 37 para
administraci&oacute;n de criterio requerido )</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Si el
criterio que se incorporo es deseado usted podr&aacute; optar por
varios niveles de deseabilidad. Estos niveles se determinan a nivel
de porcentajes , en donde a mayor porcentaje , mayor puntaje tendr&aacute;n
los candidatos que se asemejen mas a lo indicado . An&aacute;logamente
si el porcentaje de deseabilidad es bajo , el sitio no marcara
diferencias sustanciales entre los candidatos que se asemejen al
nivel solicitado de los candidatos que difieran del mismo . Para
visualizar como se marca un criterio como deseado ver la figura 38 .</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in; line-height: 100%">
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_273e270c.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=200 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
37</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in; line-height: 100%">
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m666c1fa4.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=230 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
38</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Luego de
seleccionar el area de negocio , el nivel de la misma y la
deseabilidad , usted podr&aacute; seleccionar otro criterios de
b&uacute;squeda como ser las herramientas a conocer por los
candidatos. </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
Incorporar las herramientas primero deber&aacute; seleccionar a que
&aacute;rea corresponder&iacute;a la/las herramientas a incorporar y
una vez seleccionada la misma , el sitio autom&aacute;ticamente le
indicara cuales serian las herramientas disponibles ( Ver figura 39 )</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in; line-height: 100%">
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m25efe.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=265 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
39</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Luego
de identificar la herramienta , debe presionar el bot&oacute;n
agregar ( Usted deber&aacute; de repetir este paso por cada
herramienta que desee incorporar como criterio en la b&uacute;squeda
) . </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
termine con lo que se especifico en el punto anterior , deber&aacute;
de incorporar el nivel de conocimiento de la herramienta y si el
criterio es deseado o requerido ( la forma de realizarlo es id&eacute;ntica
al &aacute;rea de negocio )</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
concluir con el proceso de nueva b&uacute;squeda deber&aacute; de
presionar el bot&oacute;n guardar como se muestra en la figura 40 .</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m6ff06adb.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=316 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
40</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<H2 CLASS="western"><A NAME="_Toc308647812"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Interpretaci&oacute;n
de solapa resultados</SPAN></SPAN></H2>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
esta solapa usted encontrara a aquellos candidatos que cumplen con
los criterios de b&uacute;squeda que usted selecciono . La misma se
vera como en la figura 41</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_61d0a037.png" ALIGN=BOTTOM WIDTH=485 HEIGHT=373 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
41</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
esta grilla , usted podr&aacute; observar a los candidatos de manera
ordenada ( del candidato que mas criterios deseados cumple al que
menos criterios deseados cumple ) y la interpretaci&oacute;n de la
misma es la siguiente :</SPAN></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Orden
	: En esta columna usted podr&aacute; observar el puntaje obtenido (
	este puntaje se obtiene como resultado de evaluar los aspectos
	t&eacute;cnicos del candidato como los aspectos de personalidad ) .
	A mayor puntaje mejor posici&oacute;n en la grilla</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Nombre
	y apellido : En esta columna usted podr&aacute; observar el nombre y
	apellido de cada uno de los candidatos resultantes de la b&uacute;squeda</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Psicot&eacute;cnico
	online : En esta columna usted visualizara si el candidato realizo
	el psicot&eacute;cnicos necesario para evaluar los aspectos de
	personalidad solicitados en la b&uacute;squeda . Si la marca es un  
	          quiere decir que el candidato no lo realizo , en cambio si
	la marca es un                es por que el candidato si lo realizo
	.</SPAN></FONT><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_4de01a46.png" ALIGN=LEFT HSPACE=12 WIDTH=13 HEIGHT=14 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_205239e3.png" ALIGN=LEFT HSPACE=12 WIDTH=18 HEIGHT=19 BORDER=0></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Informes
	: En esta columna usted podr&aacute; observar el informe de los
	aspectos de personalidad del candidato . Debe tener en cuenta que
	para que el sitio genere este informe el candidato debe de haber
	ejecutar alg&uacute;n test psicot&eacute;cnico en el transcurso de
	los &uacute;ltimos 3 meses . Si el candidato posee un informe ,
	usted visualizara el siguiente icono </SPAN></FONT>
	</P>
</UL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">     
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En cambio si
el candidato no tiene generado ning&uacute;n informe usted
visualizara este otro icono         . Para visualizar el informe ver
apartado visualizaci&oacute;n de  informe del presente manual.</SPAN></FONT><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m1d5bcdda.png" ALIGN=LEFT HSPACE=12 WIDTH=13 HEIGHT=20 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m40ed5fd4.png" ALIGN=LEFT HSPACE=12 WIDTH=22 HEIGHT=24 BORDER=0></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Datos
	:  En esta columna usted podr&aacute; observar la informaci&oacute;n
	del cv del candidato . La forma de visualizaci&oacute;n es mediante
	una ventana emergente ( como se visualiza en la figura 42 )</SPAN></FONT></P>
</UL>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_5713afd4.png" ALIGN=BOTTOM WIDTH=309 HEIGHT=228 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
42</SPAN></FONT></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Estado
	: Esta columna sirve para que usted administre a cada uno de los
	candidatos que se presentan como resultado . Las opciones
	disponibles que usted posee son : Entrevistado , Sin entrevistar ,
	Contratado , rechazado y Entrevista solicitada</SPAN></FONT></P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
concluir con esta solapa , usted encontrara en el margen superior
derecho tres opciones ( Ver figura 43 )</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_1182b120.png" ALIGN=BOTTOM WIDTH=464 HEIGHT=164 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
43</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">El
bot&oacute;n actualizar resultados sirve para que incorpore nuevos
candidatos que cumplen el criterio de la b&uacute;squeda ( si es que
se incorporaron nuevos cv&acute;s desde que se inicio la b&uacute;squeda
hasta la actualidad ) . El segundo bot&oacute;n sirve para editar los
datos de una b&uacute;squeda , es decir , editar sus criterios (
Recuerde que la edici&oacute;n de una b&uacute;squeda implica la
necesidad de nuevos tickets ) . El tercer bot&oacute;n sirve para
volver al men&uacute; principal del usuario</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<H2 CLASS="western"><A NAME="_Toc308647813"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Finalizaci&oacute;n
de una b&uacute;squeda</SPAN></SPAN></H2>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
finalizar una b&uacute;squeda , existen 2 maneras . La primera
consiste en el camino normal , que es cuando la b&uacute;squeda
cumple con el tiempo del ticket que se utilizo , es decir , que si se
utilizo un tickets para activar la b&uacute;squeda de 30 d&iacute;as
, una vez pasado ese tiempo , la misma pasa autom&aacute;ticamente a
estado finalizada . La otra opci&oacute;n es finalizar la misma de
manera manual , para ellos usted deber&aacute; de presionar en la
b&uacute;squeda que desea finalizar en la pantalla principal del
usuario y presionar el bot&oacute;n editar b&uacute;squeda . Cuando
presione el sitio mostrara la ventaja emergente que aparece en la
figura 44</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m3bfa4b79.png" ALIGN=BOTTOM WIDTH=251 HEIGHT=271 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
44</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Ah&iacute;
deber&aacute; de presionar el bot&oacute;n finalizar b&uacute;squeda
, que aparece en la parte inferior de la ventana . Una vez realizado
este la b&uacute;squeda quedara terminada no pudi&eacute;ndose hacer
actualizaci&oacute;n alguna .</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<H1 CLASS="western"><A NAME="_Toc308647814"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Solicitud
de tickets</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
esta secci&oacute;n usted podr&aacute; visualizar los tickets y
solicitar nuevos para realizar sus b&uacute;squedas . Para ello
deber&aacute; de entra a la parte que aparece en la figura 45</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_65ce7988.png" ALIGN=BOTTOM WIDTH=308 HEIGHT=187 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
45</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
esta parte el sitio le mostrara los tickets que actualmente posee
como usuario empresa y en la parte derecha de la pantalla encontrara
un bot&oacute;n que contiene la leyenda Solicitar tickets ( En este
ultimo usted deber&aacute; ingresar si quiere nuevos tickets ) . (Ver
figura 46)</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_7a235cbe.png" ALIGN=BOTTOM WIDTH=448 HEIGHT=157 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
46</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
ingrese en la secci&oacute;n solicitar tickets , el sitio desplegara
una ventana emergente ( ver figura 47 ) la cual solicitara la
siguiente informaci&oacute;n :</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_506ebf80.png" ALIGN=BOTTOM WIDTH=276 HEIGHT=275 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
47</SPAN></FONT></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cantidad
	de b&uacute;squedas , es decir , la cantidad de tickets que quiere</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Duraci&oacute;n
	: usted podr&aacute; seleccionar el tiempo que dure la b&uacute;squeda
	(30,60,90 y 120 dias )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Precio
	: Este campo se autocompleta en base a los otros dos campos
	anteriores</SPAN></FONT></P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una
vez completados los campos anteriores , deber&aacute; de presionar el
bot&oacute;n guardar y el sitio avisara a los responsables de
administraci&oacute;n sobre dicha solicitud para que incorporen ,
luego del pago correspondiente dicha cantidad de tickets en su saldo</SPAN></FONT></P>
<H1 CLASS="western"><A NAME="_Toc308647815"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Visualizaci&oacute;n
del informe</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
quiera visualizar el informe de un candidato basta con ir a la solapa
de resultados y presionar en el bot&oacute;n       , cuando realice
esta operaci&oacute;n el sitio desplegara una ventana emergente como
la que se muestra en la figura 48</SPAN></FONT><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m1d5bcdda.png" ALIGN=LEFT HSPACE=12 WIDTH=13 HEIGHT=20 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_4571bfd9.png" ALIGN=BOTTOM WIDTH=370 HEIGHT=140 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
48</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR"><I><B>El Staff de Findresources.com.ar</B></I></SPAN></FONT></P>
<DIV TYPE=FOOTER>
	<P ALIGN=LEFT STYLE="margin-top: 0.45in"><BR>
	</P>
</DIV>
</BODY>
</HTML>