<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
	<meta content="text/html; charset=ISO-8859-1" http-equiv="Content-Type"/>
	<TITLE></TITLE>
	<STYLE TYPE="text/css">
	<!--
		body {font-size: 14px;}
		@page { margin-left: 1.18in; margin-right: 1.18in; margin-top: 0.49in; margin-bottom: 0.49in }
		P { margin-bottom: 0in; direction: ltr; color: #000000; line-height: 100%; widows: 2; orphans: 2 ;padding-bottom:15px;}
		P.western { font-family: "Souvienne", serif; so-language: es-ES }
		P.cjk { font-family:'Droid Sans', 'Lucida Grande', Verdana, sans-serif; }
		P.ctl { font-family:'Droid Sans', 'Lucida Grande', Verdana, sans-serif; font-size: 10pt }
		H1 { margin-top: 0.33in; margin-bottom: 0in; direction: ltr; color: #365f91; page-break-inside: avoid; widows: 2; orphans: 2 }
		H1.western { font-size: 14pt }
		H1.cjk {  font-size: 14pt }
		H1.ctl {  ; font-size: 14pt }
		H2 { margin-top: 0.14in; margin-bottom: 0in; direction: ltr; color: #4f81bd; page-break-inside: avoid; widows: 2; orphans: 2 }
		H2.western { font-size: 13pt }
		H2.cjk {  font-size: 13pt }
		H2.ctl {  font-size: 13pt }
		A:link { color: #0000ff; so-language: zxx }
	-->
	</STYLE>
</HEAD>
<BODY LANG="en-US" TEXT="#000000" LINK="#0000ff" DIR="LTR">
<DIV TYPE=HEADER>
	<P ALIGN=RIGHT STYLE="margin-bottom: 0.45in"><BR>
	</P>
</DIV>

<H1 CLASS="western"><A NAME="_Toc308647797"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Home
Principal</SPAN></SPAN></H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_709d46d9.png" ALIGN=BOTTOM WIDTH=422 HEIGHT=291 BORDER=0></P>
<H1 CLASS="western"><A NAME="_Toc308647799"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ingreso
</SPAN></SPAN>
</H1>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
poder ingresar al portal  usted deber&aacute; de ingresar un email y
contrase&ntilde;a valido ( para ello usted previamente tuvo que
haberse registrado (ver registraci&oacute;n) y haber autenticado su
cuenta) y apretar el bot&oacute;n ingresar como se muestra en la
figura 4 </SPAN></FONT>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_17bfc7c0.png" ALIGN=BOTTOM WIDTH=588 HEIGHT=211 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
4</SPAN></FONT></FONT></P>
<H1 CLASS="western"><A NAME="_Toc308647800"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Entorno
Usuario Candidato</SPAN></SPAN></H1>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una
vez que usted haya ingresado al portal con un usuario candidato ,
usted visualizara el siguiente men&uacute; (Ver figura 5)</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_mf8eea9b.png" ALIGN=BOTTOM WIDTH=556 HEIGHT=204 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
5</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">A
la izquierda usted visualizara los datos que fueron ingresados en el
proceso de registraci&oacute;n y a la derecha usted tendr&aacute; la
opci&oacute;n de cargar su CV ( Ver alta de CV ) y un indicar si
usted deber&iacute;a de realizar un psicot&eacute;cnico o no ( Ver
ejecuci&oacute;n psicot&eacute;cnico ) </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Si
usted desea modificar los datos personales que ingreso en el proceso
de registraci&oacute;n , solamente bastara con que seleccione el
bot&oacute;n de editar que se encuentra en el apartado de datos
personales en el margen superior derecho (Si opta por esta opci&oacute;n
aparecer&aacute; una ventana emergente que le mostrara los datos
actuales pero con la posibilidad de modificarlos (Ver figura 6) luego
presione guardar y sus datos estar&aacute;n actualizados , de lo
contrario presione cancelar )</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m2ca328f6.png" ALIGN=BOTTOM WIDTH=224 HEIGHT=231 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
6</SPAN></FONT></FONT></P>
<H1 CLASS="western"><A NAME="_Toc308647801"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Alta
de CV</SPAN></SPAN></H1>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
dar de alta un nuevo CV o para actualizar uno ya cargado deber&aacute;
entrar a la opci&oacute;n a curriculum vitae (CV)  ( ver figura 7 )</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_7198ff7b.png" ALIGN=BOTTOM WIDTH=464 HEIGHT=206 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
7</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Usted
ac&aacute; podr&aacute; editar o cargar las siguientes &aacute;reas
que integran un CV </SPAN></FONT>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Informaci&oacute;n
	Personal ( ver Ingreso Informaci&oacute;n Personal )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Conocimientos
	(Ver ingreso de conocimientos)</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Experiencia
	Laboral ( Ver ingreso de experiencia laboral )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Educaci&oacute;n
	formal ( Ver ingreso de educaci&oacute;n formal )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Educaci&oacute;n
	No formal ( Ver ingreso de educaci&oacute;n No formal )</SPAN></FONT></P>
</UL>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Una
vez que haya ingresado todos los datos que usted considera oportunos
para su CV podr&aacute; visualizarlos como se muestra en la figura 8</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_3f56f104.png" ALIGN=BOTTOM WIDTH=96 HEIGHT=237 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
8</SPAN></FONT></FONT></P>
<H2 CLASS="western"><A NAME="_Toc308647802"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ingreso
Informaci&oacute;n Personal</SPAN></SPAN></H2>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
ingresar informaci&oacute;n personal deber&aacute; hacer click en la
opci&oacute;n editar que se encuentra en el margen superior derecho
del apartado Informaci&oacute;n personal . Cuando lo haga se
encontrara en la pantalla que se muestra en la figura 9</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m607848db.png" ALIGN=BOTTOM WIDTH=344 HEIGHT=484 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
9</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Los
campos a completar son los siguientes :</SPAN></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Foto
	: Ac&aacute; usted podr&aacute; seleccionar una foto para su perfil
	( tenga en cuenta que la misma ser&aacute; visible por las empresas
	que soliciten una b&uacute;squeda ) , el formato de la misma deber&aacute;
	ser .jpg &uacute;nicamente</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Estado
	civil : Ac&aacute; usted podr&aacute; seleccionar entra las opciones
	de Casado , concubinato , divorciado , soltero y viudo </SPAN></FONT>
	</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Fecha
	de nacimiento :  Para agilizar la utilizaci&oacute;n , se incorporo
	un calendario autom&aacute;tico en el cual usted primero
	seleccionara el a&ntilde;o de nacimiento y luego utilizando el
	calendario usted seleccionara el d&iacute;a el y mes de nacimiento</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif">Calle
	: Calle en donde reside</FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Numero
	: Numero de la calle en donde reside</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Piso
	: Indique el piso en el caso de vivienda del tipo edificio</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif">Departamento
	: Si corresponde ingrese departamento</FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">C&oacute;digo
	postal : Ac&aacute; deber&aacute; de ingresar el c&oacute;digo
	postal de la localidad en donde se encuentra su lugar de residencia</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Pa&iacute;s
	: Pa&iacute;s al que pertenece su localidad </SPAN></FONT>
	</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Provincia
	: Provincia a la cual pertenece su Residencia</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif">Tel
	1 : Primer tel&eacute;fono de contacto </FONT>
	</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Horario
	desde : Horario desde el cual se lo puede localizar en el tel&eacute;fono
	ingresado en Tel1</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Hasta
	: Horario hasta el cual se lo puede localizar en el tel&eacute;fono
	ingresado en tel1</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif">Tel
	2 : Segundo tel&eacute;fono de contacto</FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Horario
	desde : Horario desde el cual se lo puede localizar en el tel&eacute;fono
	ingresado en Tel2</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Hasta
	: Horario hasta el cual se lo puede localizar en el tel&eacute;fono
	ingresado en tel2</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Nacionalidad
	: Pa&iacute;s en el cual usted naci&oacute;</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Twitter
	: En caso de poseer una cuenta de Twitter indicar cual es</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Gtalk
	: En caso de poseer una cuenta de Gtalk indicar cual es</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Skype
	: En caso de poseer una cuenta de Skype indicar cual es</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Sueldo
	Pretendido : Indicar cual seria el sueldo que usted considera que
	merece</SPAN></FONT></P>
</UL>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
haya completado todos los campos presione el bot&oacute;n aceptar ,
caso contrario , si usted se arrepiente podr&aacute; optar por la
opci&oacute;n de deshacer los cambios recientemente ingresados
presionando la opci&oacute;n cancelar</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<H2 CLASS="western"><A NAME="_Toc308647803"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ingreso
de conocimientos</SPAN></SPAN></H2>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
ingresar sus conocimientos deber&aacute; hacer click en la opci&oacute;n
editar que se encuentra en el margen superior derecho del apartado
Conocimientos . Cuando lo haga usted visualizara la pantalla que
aparece en la figura 10</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_14a222f9.png" ALIGN=BOTTOM WIDTH=384 HEIGHT=285 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
10</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">En
la primera parte usted podr&aacute; seleccionar que &aacute;reas de
negocio conoce , para ello deber&aacute; desplegar el combo ( en la
figura 10 es el primero que aparece ) y marcar aquella que usted
desea. Una vez seleccionada deber&aacute; presionar el bot&oacute;n
agregar que se encuentra justo al lado del combo que acabo de
desplegar . Por cada selecci&oacute;n de &aacute;rea de negocio usted
podr&aacute; optar por marcar el nivel de conocimiento que posee
sobre esa determinada &aacute;rea para ello una vez que la agrego
deber&aacute; marcar con estrellas su experiencia sobre la misma .<br /><br />
Los niveles disponibles son los siguientes :</SPAN></FONT><br /><br /></P><P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m17a86481.png" ALIGN=LEFT HSPACE=12 WIDTH=145 HEIGHT=82 BORDER=0>
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m6f21a2f9.png" ALIGN=LEFT HSPACE=12 WIDTH=117 HEIGHT=86 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_5710490d.png" ALIGN=LEFT HSPACE=12 WIDTH=120 HEIGHT=88 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_b91d338.png" ALIGN=LEFT HSPACE=12 WIDTH=119 HEIGHT=83 BORDER=0><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m380912be.png" ALIGN=LEFT HSPACE=12 WIDTH=117 HEIGHT=85 BORDER=0><BR>
</P><br /><br /><br /><br /><br />
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Luego
usted podr&aacute; seleccionar Herramientas . Para ello el porta
utiliza 2 combos diferentes ( Parte inferior figura 10 ) . El primero
de ellos le permite seleccionar una &aacute;rea especifica en la cual
usted se desarrollaba ( Por ejemplo inform&aacute;tica ) , luego y en
base al &aacute;rea que selecciono previamente se desplegaran las
herramientas disponibles para esa &aacute;rea . </SPAN>Un ejemplo se
evidencia en la figura 11</FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_d653852.png" ALIGN=BOTTOM WIDTH=268 HEIGHT=285 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
11</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
seleccione la herramienta que usted considera que conoce , deber&aacute;
presionar el bot&oacute;n agregar y nuevamente tendr&aacute; que
indicar el nivel de conocimiento de la misma ( Los niveles son los
mismos que aparecen en el &aacute;rea de negocio )</SPAN></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Tanto
el proceso de carga de &aacute;reas de negocio como el proceso de
area+herramienta usted lo podr&aacute; repetir las veces que
considere . Tenga en cuenta que cuanto mas informaci&oacute;n
suministre sobre sus conocimientos mas posibilidades existen que
aparezca en b&uacute;squedas </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Luego
de ingresar todos los conocimientos deber&aacute; presionar el bot&oacute;n
guardar o en caso contrario , el bot&oacute;n de cancelar .</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<H2 CLASS="western"><A NAME="_Toc308647804"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ingreso
de experiencia laboral</SPAN></SPAN></H2>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
ingresar su experiencia laboral usted deber&aacute; presionar el
bot&oacute;n agregar posici&oacute;n que se encuentra en el margen
superior derecho del apartado Experiencia laboral . Recuerde que
deber&aacute; de presionarlos cada vez que cargue una nueva
experiencia . Cuando lo haga usted visualizara la pantalla que
aparece en la figura 12</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_44bc79e0.png" ALIGN=BOTTOM WIDTH=314 HEIGHT=229 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
12</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">El
formulario que aparece como ventana emergente solicitara la siguiente
informaci&oacute;n :</SPAN></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Titulo
	: Nombre del puesto que ocupa/ba</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Empresa
	: Nombre de la organizaci&oacute;n en la cual trabajo</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Industria
	: Industria a la cual pertenece la organizaci&oacute;n</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Pa&iacute;s
	: Pa&iacute;s en el cual usted a trabajado</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif">Fecha
	desde : Fecha de ingreso </FONT>
	</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Fecha
	Hasta : Hasta cuando ha trabajado ( Si lo deja en blanco se
	considera que hasta el d&iacute;a de hoy )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Logro
	 : Aqu&iacute; es donde usted puede contar alg&uacute;n desaf&iacute;o
	cumplido en la organizaci&oacute;n </SPAN></FONT>
	</P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Descripci&oacute;n
	: Este es un apartado que sirve para que realice una descripci&oacute;n
	de las tareas que realizaba .</SPAN></FONT></P>
</UL>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
haya cargado toda la informaci&oacute;n presione el bot&oacute;n
guardar para que la informaci&oacute;n quede guardada en su CV , caso
contrario presione cancelar .</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<H2 CLASS="western"><A NAME="_Toc308647805"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ingreso
de Educaci&oacute;n Formal</SPAN></SPAN></H2>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
ingresar su educaci&oacute;n formal usted deber&aacute; presionar el
bot&oacute;n agregar posici&oacute;n que se encuentra en el margen
superior derecho del apartado educaci&oacute;n formal . Recuerde que
deber&aacute; de presionarlos cada vez que cargue una nueva educaci&oacute;n
. Cuando lo haga usted visualizara la pantalla que aparece en la
figura 13</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_7f584a39.png" ALIGN=BOTTOM WIDTH=334 HEIGHT=274 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
13</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">El
formulario que aparece como ventana emergente solicitara la siguiente
informaci&oacute;n :</SPAN></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Instituci&oacute;n
	: Usted ac&aacute; podr&aacute; ingresar la instituci&oacute;n en la
	cual realizo el estudio formal . Estas se visualizaran como un men&uacute;
	desplegable</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Otra
	: En el caso de que no encuentre la instituci&oacute;n en la lista
	desplegable del punto anterior ac&aacute; dispondr&aacute; de un
	campo vacio en la cual podr&aacute; ingresar la instituci&oacute;n
	manualmente</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Titulo
	: Ac&aacute; hace referencia al titulo obtenido , ejemplo
	&ldquo;Ingenier&iacute;a en sistemas de informaci&oacute;n&rdquo;</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Nivel
	: Ac&aacute; hace referencia al nivel del estudio ( doctorado ,
	terciario , grado , posgrado , etc. )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">&Aacute;rea
	: &Aacute;rea de especializaci&oacute;n a la cual pertenece su
	educaci&oacute;n</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Estado
	: Estado en el cual se encuentra esta educaci&oacute;n ( terminado ,
	 en curso o abandonado )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Desde
	: Fecha de inicio de la educaci&oacute;n</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Hasta
	: Fecha de finalizaci&oacute;n ( en el caso de en curso , deber&iacute;a
	de ingresar fecha aproximada de finalizaci&oacute;n )</SPAN></FONT></P>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Promedio
	: Promedio obtenido en la educaci&oacute;n ingresada</SPAN></FONT></P>
</UL>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
haya cargado toda la informaci&oacute;n presione el bot&oacute;n
guardar para que la informaci&oacute;n quede guardada en su CV , caso
contrario presione cancelar .</SPAN></FONT></P>
<H2 CLASS="western"><A NAME="_Toc308647806"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ingreso
de Educaci&oacute;n no formal</SPAN></SPAN></H2>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">La
educaci&oacute;n no formal corresponde a todas aquellas
capacitaciones realizadas en las cuales no se obtiene un titulo en el
cual dependa el ministerio de educaci&oacute;n . </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
ingresar su educaci&oacute;n formal usted deber&aacute; presionar el
bot&oacute;n agregar posici&oacute;n que se encuentra en el margen
superior derecho del apartado educaci&oacute;n no formal . Recuerde
que deber&aacute; de presionarlos cada vez que cargue una nueva
educaci&oacute;n . Cuando lo haga usted visualizara la pantalla que
aparece en la figura 14</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m52bcf368.png" ALIGN=BOTTOM WIDTH=339 HEIGHT=272 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
14</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">El
formulario que aparece como ventana emergente solicitara la siguiente
informaci&oacute;n :</SPAN></FONT></P>
<UL>
	<LI><P ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Instituci&oacute;n
	: Ac&aacute; se deber&aacute; de ingresar el nombre de la
	instituci&oacute;n en el cual realizo la capacitaci&oacute;n</SPAN></FONT></P>
	<LI><P ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Descripci&oacute;n
	: Ac&aacute; se deber&aacute; de explicar brevemente en que consiste
	la capacitaci&oacute;n</SPAN></FONT></P>
	<LI><P ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Tipo
	: Ac&aacute; se ingresa el tipo de modalidad del curso , pudiendo
	ser , e-learning , presencial , a distancia , etc.  </SPAN></FONT>
	</P>
	<LI><P ALIGN=LEFT STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Duraci&oacute;n
	: Tiempo que duro la capacitaci&oacute;n </SPAN></FONT>
	</P>
</UL>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
haya cargado toda la informaci&oacute;n presione el bot&oacute;n
guardar para que la informaci&oacute;n quede guardada en su CV , caso
contrario presione cancelar .</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<H1 CLASS="western"><A NAME="_Toc308647807"></A><SPAN LANG="es-AR"><SPAN STYLE="font-weight: normal">Ejecuci&oacute;n
del psicot&eacute;cnico </SPAN></SPAN>
</H1>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Si
usted reciba un correo como el que se presenta en la figura 15 . Es
porque fue preseleccionado en una de las b&uacute;squedas que se
encuentran en el portal . Para poder ejecutar el test solicitado
usted tendr&aacute; que hacer click en el enlace del correo y este lo
direccionara a la pantalla de ingreso del sitio . </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
coloque su usuario y contrase&ntilde;a usted visualizara en la
pantalla principal un icono que indica &ldquo;Realizar Psicot&eacute;cnico&rdquo;
( Ver figura 16 ) . Haga click en este bot&oacute;n y lo direccionara
a la pantalla de la figura 17 </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m2980d574.png" ALIGN=BOTTOM WIDTH=589 HEIGHT=173 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
15</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_ma0d78d7.png" ALIGN=BOTTOM WIDTH=404 HEIGHT=185 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
16</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m519b6141.png" ALIGN=BOTTOM WIDTH=490 HEIGHT=271 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
17</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Tenga
en cuenta que la realizaci&oacute;n de estos test llevan un tiempo
considerable y mucha concentraci&oacute;n , por lo cual recomendamos
que tome las precauciones necesarias para poder llevar a cabo la
tarea . </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Los
diferentes tipos de test que puede solicitar el sitio son los
siguientes :</SPAN></FONT></P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR"><B>Test
	D48 :</B></SPAN><SPAN LANG="es-AR"> Este test sirve para determinar
	la capacidad intelectual del individuo que lo ejecuta . La forma de
	administraci&oacute;n consiste en desplegar 48 placas con fichas de
	domino en el cual una de ellas esta sin completar . El individuo
	deber&aacute; de completarla utilizando alg&uacute;n criterio que
	considere apropiado . La visualizaci&oacute;n de este test se vera
	como aparece en la figura 18</SPAN></FONT></P>
</UL>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m75df4301.png" ALIGN=BOTTOM WIDTH=369 HEIGHT=201 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
18</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cada vez que
usted ingrese los n&uacute;meros en el apartado que se encuentra en
la parte inferior de la pantalla deber&aacute; de presionar el bot&oacute;n
siguiente para pasar a la siguiente placa .  En caso de no conocer la
respuesta , tambi&eacute;n deber&aacute; de presionar el bot&oacute;n
siguiente . Recuerde que este test deber&aacute; de completarse en un
tiempo menor a 40 minutos , pasado ese tiempo se considera que las
placas restantes no fueron respondidas  </SPAN></FONT>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR"><B>Test
	Raven :</B></SPAN><SPAN LANG="es-AR"> Este test sirve para
	determinar la capacidad intelectual del individuo que lo ejecuta .
	La forma de administraci&oacute;n consiste en desplegar 60 placas
	con figuras en las cuales les falta una porci&oacute;n . El
	individuo deber&aacute; de completar la porci&oacute;n faltante
	utilizando diferentes opciones que est&aacute;n disponibles . La
	visualizaci&oacute;n de este test se vera como aparece en la figura
	19</SPAN></FONT></P>
</UL>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m101cd3d9.png" ALIGN=BOTTOM WIDTH=284 HEIGHT=319 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
19</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cada vez que
usted ingrese la opci&oacute;n que considere correcta en el apartado
que se encuentra en la parte inferior de la pantalla deber&aacute; de
presionar el bot&oacute;n siguiente para pasar a la siguiente placa .
 En caso de no conocer la respuesta , tambi&eacute;n deber&aacute; de
presionar el bot&oacute;n siguiente . Recuerde que este test deber&aacute;
de completarse en un tiempo menor a 40 minutos , pasado ese tiempo se
considera que las placas restantes no fueron respondidas  </SPAN></FONT>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="line-height: 100%">
<BR>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR"><B>Test
	Luscher:</B></SPAN><SPAN LANG="es-AR"> Este test sirve para
	determinar algunos aspectos de personalidad como ser la capacidad de
	liderazgo . La administraci&oacute;n del mismo consiste en que el
	individuo opte por la selecci&oacute;n (seg&uacute;n orden de
	preferencia ) de 8 colores . Luego deber&aacute; volver a elegir
	optando por cambiar alguna selecci&oacute;n o por el mantenimiento
	del mismo . La visualizaci&oacute;n de este test se vera como
	aparece en la figura 20</SPAN></FONT></P>
</UL>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_maf3ac67.png" ALIGN=BOTTOM WIDTH=473 HEIGHT=162 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
20</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para
seleccionar los colores , solamente basta con hacer click sobre el
color deseado . Una vez seleccionado el color desaparecer&aacute;
quedando disponibles los dem&aacute;s colores </SPAN></FONT>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="line-height: 100%">
<BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR"><B>Test
	MIPS:</B></SPAN><SPAN LANG="es-AR"> Este test sirve para determinar
	algunos aspectos de personalidad como ser la extroversi&oacute;n o
	introversi&oacute;n del individuo . La administraci&oacute;n del
	mismo consiste en que el individuo responda  (lo mas sinceramente
	posible ) de 180 preguntas por verdadero o falso. Cada vez que
	responde una el sistema le preguntara otra diferente hasta llegar al
	total de las mismas .  La visualizaci&oacute;n de este test se vera
	como aparece en la figura 21</SPAN></FONT></P>
</UL>
<P LANG="es-AR" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in; line-height: 100%">
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_1bd59c7f.png" ALIGN=BOTTOM WIDTH=480 HEIGHT=97 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
21</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.25in; line-height: 100%">
<BR>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.25in; line-height: 100%">
<BR>
</P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<BR>
</P>
<UL>
	<LI><P ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR"><B>Test
	Rorcharch:</B></SPAN><SPAN LANG="es-AR"> Este test sirve para
	determinar algunos aspectos de personalidad como ser la capacidad de
	trabajar bajo presi&oacute;n . La administraci&oacute;n del mismo
	consiste en 10 placas que muestran una figura en el cual el
	individuo deber&aacute; indicar que es lo que ve y en que parte del
	dibujo lo ve  .  La visualizaci&oacute;n de este test se vera como
	aparece en la figura 22 .</SPAN></FONT></P>
</UL>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_35acaa3f.png" ALIGN=BOTTOM WIDTH=325 HEIGHT=192 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
22</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Para marcar
un &aacute;rea deber&aacute; de utilizar el cuadrado que se muestra
en la parte superior izquierda de la macha y moverlo hasta el lugar
en donde considere necesario . Si el tama&ntilde;o del cuadrado es
inferior a lo que desea marcar , puede tambi&eacute;n alterar el
mismo arrastrando el margen inferior izquierdo hasta que el mismo
tome el tama&ntilde;o que desee . Una vez identificado el lugar
deber&aacute; de escribir lo que ve en el texto disponible que esta
en la parte derecha de la placa y presionar el bot&oacute;n etiquetar
&aacute;rea . Una vez realizado esto la placa ser vera como la figura
23 </SPAN></FONT>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.5in; line-height: 100%">
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_2d1b624a.png" ALIGN=BOTTOM WIDTH=432 HEIGHT=248 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
23</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.5in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">El m&iacute;nimo
de etiquetas por placa es de 5 , por lo tanto no dejara de pasar a la
siguiente plantilla hasta no contar con esta cantidad . Una vez que
dispongamos de esto podr&aacute; pasar a la siguiente haciendo click
en el bot&oacute;n siguiente imagen . ( Ver figura 24 )</SPAN></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=JUSTIFY STYLE="margin-left: 0.5in; line-height: 100%">
<BR>
</P>
<P CLASS="western" ALIGN=CENTER STYLE="margin-left: 0.5in; line-height: 100%">
<IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m51952c97.png" ALIGN=BOTTOM WIDTH=495 HEIGHT=306 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
24</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
se hayan ejecutado todos los test necesarios el sitio devolver&aacute;
la pantalla que aparece en la figura 25</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m17d4f35f.png" ALIGN=BOTTOM WIDTH=262 HEIGHT=208 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
25</SPAN></FONT></FONT></P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR">Cuando
se vuelva a ingresar al sitio , el portal de acciones quedara como
muestra la figura 26</SPAN></FONT></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><IMG SRC="/images/manual/0393773001320915479_manual%20de%20usuario%20v1.0_html_m98612e6.png" ALIGN=BOTTOM WIDTH=299 HEIGHT=126 BORDER=0></P>
<P CLASS="western" ALIGN=CENTER STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="es-AR">Figura
26</SPAN></FONT></FONT></P>
<P LANG="es-AR" CLASS="western" ALIGN=LEFT STYLE="line-height: 100%"><BR>
</P>
<P CLASS="western" ALIGN=JUSTIFY STYLE="line-height: 100%"><FONT FACE="Droid Sans, Lucida Grande, Verdana, sans-serif"><SPAN LANG="es-AR"><I><B>El staff de
Findresources.com.ar</B></I></SPAN></FONT></P>
<DIV TYPE=FOOTER>
	<P ALIGN=LEFT STYLE="margin-top: 0.45in"><BR>
	</P>
</DIV>
</BODY>
</HTML>