@CHARSET "ISO-8859-1";
#toolbar_fr_logo {
	background: url("../images/src/logofr.png") no-repeat scroll 0 0 transparent;
	float:left;
	padding-top: 55px;
    width: 95px;
	height; 25px;    
}

#toolbar_fr_company{
	float:left;
	width:760px;
	margin-left: 10px;
}

#toolbar_fr_company_name {
	color: blue; 
	font-size: 17px; 
	margin-top: 7px;
}

#toolbar_fr_company_slogan {

} 

#toolbar_session{
	float: right;
	margin-top: 20px;
}

#toolbar_header {
	height: 50px;
	padding: 10px;
    background: url("/images/src/background_header.png") repeat-x scroll 0 0 #FCFCFC;
	/*background-color: #0C4870*/
}

#login #toolbar_logout{
	display:none;
}

#toolbar_fr_lenguage{
	color: white;
	font-weight: bold;
}

#toolbar_logout a{
	color: white;
	float: right;
}
	