#leftPanel,
#rightPanel{
	float:left;
}

#leftPanel {
    width: 170px;
  	border-color: #707070;
    border-right: solid;
    border-width: 1px;
}

#rightPanel{
	width: 720px;
	padding-left: 20px;      
	padding-top: 7px;      
}


#newSearchLink {
	padding: 10px 0 10px 0;
	border-bottom: 1px #CCCCCC solid;
	margin-bottom: 4px;
	width: 160px;
}

#busquedas {
 	/*background: url("../images/home_background.png") no-repeat scroll 0 0 transparent;;*/
	width: 960px;
	height: 820px;
	margin: auto;
	
}



#busquedas_tabs {
	width: 950px;
	float: right;
	margin-right: 20px;

}


.control {
	width: 250px;
}

.control input {
	width: 150px;
}

.control select{
	width: 156px;
}

#busquedas_tabs .tab_content {
	height:620px;
	overflow: auto;
}

.label {
	font-size:12px; /*dont know why need to do this*/
}
/*
.ui-accordion-content {
 	height: 210px;
}

.sectionTitlePencil {
    visibility: hidden;
    margin-right: 7px;
}
*/

.editSearchDataLink {
	padding-left: 7px;
}
#searchDataEditorDescription{
 width:135px;
 height:100px;
}
#searchDataEditorStatus, #searchDataEditorDateTo {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
}
#savedSearchLinks {
	padding-left: 7px;
}
.savedSearchLink {
	padding: 4px;
}


#hardSkillsPopUp .in {
	width: 750px;
}

#hardSkillsPopUp .label {
	width: 250px;
	padding-top: 6px;
}

.ui-slider {
	float: left;
	width: 160px;
	margin-top: 5px;
	background-color: transparent;
}

#hardSkillsPopUp .ui-slider {
	margin-right: 60px;
}

.ui-slider input[type="text"] {
	float: right;
    margin-right: -45px;
    height: 15px;
    margin-top: -4px;
    width: 25px;
}


.ui-slider label {
	float: right;
    margin-right: -60px;
    margin-top: -2px;
	
}

#searchBody .ui-slider {
	margin-left: 20px;
}

#searchBody .label{
	width: 250px;
}

.importanceLabel{
    float: left;
    margin-left: 7px;
    margin-top: 3px;
}


.field .modeField {
	width: 92px;
}

#formalEducationEditorAverageTo,
#formalEducationEditorAverageFrom {
	width: 30px;
}

#aditionalDataEditorAgeFrom,
#aditionalDataEditorAgeTo {
	width: 20px;
}

.activatedSearchLink{
}

.cancelledSearchLink{
	text-decoration: line-through;
}
.closedSearchLink a{
	color: gray !important;
	text-decoration: line-through;
}
.pendingSearchLink a{
	color: gray !important;
}
.newSearchLink a{
	font-weight: bold;
}

#hardSkillsPopUp h4,#softSkillsPopUp h4{
	font-weight: bold;
    margin-bottom: 5px;
    margin-top: 8px;
}

#hardSkillsPopUp .star-rating,
#hardProperties .star-rating{
	float: left;
	margin-top: 3px;
	
}

#hardProperties .label {
	margin-top: 4px;
}

.removeSkillLink img{
	margin: 5px 15px;
}

.toolItem,
.industryItem {
	height: 25px;
	background-color: #BDDEE0;
}



#toolEditorList {
	border-top: 1px #CCCCCC solid;
    margin-top: 30px;
    padding-top: 10px;
}


#importanceTitle,
#seniorityTitle {
    background: none repeat scroll 0 0 #EEFAFA;
    float: left;
    text-align: center;
    height: 20px;
	padding-top: 5px;
	font-weight: bold;
    
}

#seniorityTitle{
    margin-left: 257px;
    width: 115px;
}

#importanceTitle{
    margin-left: 40px;
    width: 232px;
	
}

.starRatingContainer {
    background-color: #EEFAFA;
    float: left;
    height: 25px;
	padding-left: 5px;
    padding-right: 5px;
    width: auto;
    margin-right: 40px;
}

.sliderContainer {
    background-color: #EEFAFA;
    float: left;
    height: 25px;
	padding-left: 5px;
    padding-right: 5px;
    width: auto;
}


.addTool,
.addIndustry {
	margin-left: 15px;
}

#searchDescription {
	margin-bottom: 10px;
}