
body {
 background-color: #fff;
 margin: auto;
 font-size: 10px;
 color: #4F5155;
 width: 960px;
}


.company_logo{
}

#login {
 	/*background: url("../images/home_background.png") no-repeat scroll 0 0 transparent;;*/
	width: 960px;
	height: 720px;
}



.body_container {
	height: 550px;
}

#login_wellcome {
	float: left;
	position: absolute;
	padding-right: 7px;
	border-right: 1px #CCCCCC solid;
	height: 465px;
	width: 452px;
	
}

#login_wellcome_text {
	color: #FFFFFF;
    background: url("/images/src/find_fondo.jpg") no-repeat scroll 0 0;
	padding: 0 8px 0 20px;
 	font-size: 13px;
	margin-bottom: 10px;
	height: 200px;
	border-radius: 5px 5px 5px 5px;
	width: 415px;
}

#video_container {
	border-top: 1px #CCCCCC solid;
	padding-top: 9px;
	width: 443px;
	
}

#login_tabs {
	width: 450px;
	float: right;
	height: 412px;
}

.label {
	text-align: left;
	width: 130px;
	font-size:12px;
}

.control input {
	width: 150px;
}

.control select{
	width: 160px;
}
.field {
	margin-top: 15px;
}

.field div {
	float: left;
	margin-top: 6px;
}

#login_tabs .tab_content {
	height:400px;
	overflow: auto;
}

#login_button_div {
	float: right;
	margin-right: 20px;
	margin-top: 30px;
}

#register_id_type_select {
	width: 50px;
}

#register_id_number_input {
	width: 95px;
}

.error_msg {
}

.error_msg .label{
	color: red;
	margin-left: 138px;
	font-size: 9px;
    width: 100%;
	margin-top: 2px;    
}


.fb-like {
	border-bottom: 1px #CCCCCC solid;
	width: 443px;
	padding-bottom: 10px;
}