#leftPanel,
#rightPanel{
	float:left;
}

#leftPanel {
    width: 170px;
}

#rightPanel{
	width:760px;
  	border-color: #707070;
    border-left: solid;
    border-width: 1px;
	padding-left: 20px;      
	padding-top: 7px;      
}


#newSearchLink {
	padding: 10px 0 10px 0;
}

#busquedas {
 	/*background: url("../images/home_background.png") no-repeat scroll 0 0 transparent;;*/
	width: 960px;
	height: 820px;
	margin: auto;
	
}



#busquedas_tabs {
	width: 950px;
	float: right;
	margin-right: 20px;

}


.control {
	width: 250px;
}

.control input {
	width: 150px;
}

.control select{
	width: 156px;
}
.field {
	margin-top: 15px;
}

#busquedas_tabs .tab_content {
	height:620px;
	overflow: auto;
}

.label {
	font-size:12px; /*dont know why need to do this*/
}
/*
.ui-accordion-content {
 	height: 210px;
}

.sectionTitlePencil {
    visibility: hidden;
    margin-right: 7px;
}
*/

.editSearchDataLink {
	padding-left: 7px;
}

#savedSearchLinks {
	padding-left: 7px;
}
.savedSearchLink {
	padding: 4px;
}


#hardSkillsPopUp input[type="text"] {
    margin-right: 20px;
    width: 25px; /** TODO MODIFICAR PARA EL SLIDER **/
}

.field .modeField {
	width: 92px;
}

#formalEducationEditorAverageTo,
#formalEducationEditorAverageFrom {
	width: 30px;
}

#aditionalDataEditorAgeFrom,
#aditionalDataEditorAgeTo {
	width: 20px;
}

.activatedSearchLink{
}

.closedSearchLink a{
	color: gray !important;
}

.newSearchLink a{
	font-weight: bold;
}

#hardSkillsPopUp h4,#softSkillsPopUp h4{
	font-weight: bold;
    margin-bottom: 5px;
    margin-top: 8px;
}

#hardSkillsPopUp .star-rating,
#hardProperties .star-rating{
	float: left;
	margin: 3px 10px 5px 6px;
	
}

#hardProperties .label {
	margin-top: 4px;
}

.removeSkillLink img{
	margin: 5px 15px;
}

.toolItem,
.industryItem {
	height: 20px;
	background-color: #FBFBFB;
}

.industryItem .label{
	padding-top: 3px
}

/* WIDTH DEL SLIDER*/
.ui-slider {
    width: 100px;
}
