#homeCandidatePersonalData{
	width: 460px;
	height: 199px;
	border-width: 1px;
	float:left;
}


#homeCandidateLinks{
	width: 434px;
	height: 169px;
	float: left;
	margin-top: 10px;
}

#homeCompanyLinks{
    float: left;
    width: 430px;
	margin-top: 10px;
	height: 240px;
}

#homeCompanyLinks .searchLink,
#homeCompanyLinks .ticketsLink,
#homeCandidateLinks .curriculumLink,
#homeCandidateLinks .testLink
 {
	background-position:center top !important;
	display: block;
	padding-top: 47px;
	text-align: center;	
}

#homeCompanyLinks .searchLink{
	background:transparent url("../images/src/search.png") no-repeat;
	width: 60px;
	height: 40px;
}
#homeCompanyLinks .ticketsLink {
background: transparent url("../images/src/ticket.png") no-repeat;
width: 60px;
height: 40px;
}


#homeCandidateLinks .ticketsLink {
	background:transparent url("../images/src/ticket.png") no-repeat;
	width: 50px;
	height: 50px;
}

#homeCandidateLinks .testLink {
	background:transparent url("../images/src/test.gif") no-repeat;
	width: 70px;
	height: 50px;
	
}

#homeCurriculumLink{
	height: 99px;
	border-width: 1px;
	width: 152px;
	float: left;
	margin-left: 80px;
}


#homeCurriculumLink .curriculumLink{
	background:transparent url("../images/src/cv.png") no-repeat;
	width: 65px;
	height: 50px;
}

#homeCurriculumLink .testLink {

}

#homeTestLink{
	height: 99px;
	border-width: 1px;
	float: left;
}

.label {
	font-weight: bold;
	float:left;
	width: 150px;
}

.field {
	float:left;
	width: 100%;
}

.row {
  margin: 10px;
}


.editFields{
	font-size: 11px;
}

#homeCandidatePersonalDataBody{
	margin:10px
}

.frFooter{
	margin-top: 100px;
}

#homeBody{
	padding-top: 30px;
	padding-bottom: 50px;	
	min-height:400px;
}

#userDataPopUp .buttonsPopUp{
	margin-top:67px;
}

.companyUserDataPopUp .in {
	width: 420px;
}

.popup .label{
	font-weight: normal;
}

.informes .inblock {
	height: 127px;
}

.informes .inblock img,
.informes .inblock div {
	float: left;
}

.informes .inblock div {
	margin-top: 22px;
}

.admin .block {
	margin-left: 50px;
	width: 500px;
}
.admin .usuarios {
	padding-left: 20px;
}

.experto img{
    width: 75px;
	padding-right: 20px;
}

.body_container {
	padding-left: 20px;
	padding-right: 20px;
}

.testDoneLink {
	margin-top: 13px;
    width: 100px;
}

.testDoneLink div {
	margin-top: 2px;
}